@import "../../global.scss";
.education{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url('../../background-images/uni-blackboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    


    .container{
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        @include mobile{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            height: 90%;
        }

        
        

        .card{
            width: 40%;
            height: 80%;
            border-radius: 10px;
            box-shadow: 0px 0px 20px -8px black;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 20px;
            transition: all 1s ease;
            background-color: white;
            border-color:black;
            border-style: solid;
            border-width: 1px; 
            box-shadow: 0px 0px 20px -2px black;

            @include mobile{
                width: 80%;
                height: 100%;
                margin:5%;
                justify-content: space-between;
                
            }

            &:hover{
                transform: scale(1.1);

                @include mobile{
                    transform: scale(1);
                }

            }


            .top{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 15%; 

                @include mobile{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    height: 15%; 
                    width: 100%;
                }


                img{
                    height: 90%;
                    border-radius: 10px;
                    box-shadow: 0px 0px 20px -9px black; 
                    border-color: rgb(158, 145, 145);
                    border-style: solid;
                    border-width: 1px; 

                    @include mobile{
                        width: 20%;
                        height: 100%;
                    }

                   
                       
                }

            }

            .center{
                padding: 10px;
                background-color: rgb(238, 245, 245);
                border-radius: 10px;
                font-size: 140%;
                font-weight:900;
                border-color:grey;
                border-style: solid;
                border-width: 1px; 

                @include mobile{
                    font-size: 75%;
                    height: 60%;
                }
            }

            .bottom{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                h2{
                    margin-bottom: 5px;
                    font-size: 150%;
                    @include mobile{
                        font-size: 75%;
                    }
                }

                h3{
                    margin-bottom: 5px;
                    font-size: 130%;

                    @include mobile{
                        display:none;
                    }
                }

                h4{
                    color: black;
                    font-size: 130%;
                    font-weight:900;

                    @include mobile{
                        display:none;
                    }
                }

            }
        }

    }

    .bottomContainer{
        background-color: rgba(black, 0.8);
        border-radius: 10px;
        border-color:grey;
        border-style: solid;
        border-width: 1px; 
        height:11%;
        width:12%;
        position: absolute;
        bottom: 2%;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @include mobile{
            display: none;
        }
       
        a{
            text-decoration: none;
            color: yellow;
            font-weight: bold;
            animation: arrowBlink 2s infinite;


            h3{
                font-size: 175%;
            }

            .arrow {
                display: flex;
                justify-content: center;
                position: relative;
            }


        }
    }
}