@import "../../global.scss";
.education {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  background-color: black;
  

  .title {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color:lightsalmon;
    width: 100%;
    padding: 80px;

    @include respond-to("m") {
      padding-top: 100px;
    }

    @include respond-to("ms") {
      height: 10%;
      padding-top: 70px;
    }

    @include respond-to("s") {
      height: 8%;
      padding-top: 90px;
    }

    h1 {
      font-weight: normal;
      font-size: 35px;

      @include respond-to("xl") {
        font-size: 30px;
      }
      @include respond-to("l") {
        font-size: 28px;
      }
      @include respond-to("m") {
        font-size: 27px;
      }
      @include respond-to("ms") {
        font-size: 25px;
      }
      @include respond-to("s") {
        font-size: 27px;
      }
      @include respond-to("xs") {
        font-size: 25px;
      }
    }
  }

  .container {
    
    width: 90%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;

    @include respond-to("xl") {
      height: 100%;
    }
    @include respond-to("l") {
      height: 90%;
    }
    @include respond-to("m") {
      flex-direction: row;
      width: 100%;
    }
    @include respond-to("s") {
      flex-direction: column;
    }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
      background-color: rgba(black, 0.3);
      border-style: solid;
      color: whitesmoke;
      height: 70%;
      width: 40%;
      border-width: 3px;
      border-color: rgba(crimson, 0.5);
      border-radius: 10%;

      @include respond-to("xl") {
        height: 75%;
        width: 40%;
      }

      @include respond-to("l") {
        height: 80%;
      }

      @include respond-to("m") {
        height: 60%;
        width: 40%;
        border-radius: 0%;
        border-width: 3px;
        border-color: rgba(crimson, 0.5);
        border-radius: 10%;
      }
      @include respond-to("s") {
        height: 30%;
        width: 70%;
      }

      .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 20%;

        @include respond-to("m") {
          height: 50%;
        }

        h1 {
          font-size: 30px;
          align-items: center;
          font-family: "Roboto", sans-serif;

          @include respond-to("xl") {
            font-size: 25px;
          }
          @include respond-to("l") {
            font-size: 24px;
          }
          @include respond-to("m") {
            font-size: 28px;
          }
          @include respond-to("ms") {
            font-size: 26px;
          }
          @include respond-to("s") {
            font-size: 20px;
          }
          @include respond-to("xs") {
            font-size: 18px;
          }
        }
        h2 {
          align-items: center;
          font-size: 20px;
          font-family: "Roboto", sans-serif;
          font-style: italic;

          @include respond-to("xl") {
            font-size: 18px;
          }
          @include respond-to("l") {
            font-size: 20px;
          }
          @include respond-to("m") {
            font-size: 19px;
          }

          @include respond-to("ms") {
            font-size: 17px;
          }
          @include respond-to("s") {
            font-size: 19px;
          }
          @include respond-to("xs") {
            font-size: 15px;
          }
        }

        h3 {
          align-items: center;
          font-size: 18px;
          font-family: "Roboto", sans-serif;
          font-style: italic;

          @include respond-to("xl") {
            font-size: 16px;
          }
          @include respond-to("l") {
            font-size: 15px;
          }
          @include respond-to("m") {
            font-size: 20px;
          }
          @include respond-to("ms") {
            font-size: 18px;
          }
          @include respond-to("s") {
            font-size: 17px;
          }
          @include respond-to("xs") {
            font-size: 15px;
          }
        }
      }

      .center {
        padding: 10px;
        background-color: rgba(black, 0.1);
        border-radius: 5px;
        font-weight: 900;
        border-color: rgba(crimson, 0.5);
        border-style: solid;
        border-width: 1px;
      

        @include respond-to("m") {
          display: none;
        }

        ul {
          list-style-type: none;
          li {
            font-size: 19px;
            padding: 1px;
            align-items: center;
            font-family: "Roboto", sans-serif;
            font-weight: normal;

            @include respond-to("xl") {
              padding: 0px;
              font-size: 17px;
            }
            @include respond-to("l") {
              font-size: 15px;
            }
          }
        }
      }

      .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include respond-to("s") {
          margin: 5px;
        }

        h1 {
          font-size: 27px;
          align-items: center;
          font-family: "Roboto", sans-serif;

          @include respond-to("xl") {
            font-size: 20px;
          }
          @include respond-to("l") {
            font-size: 22px;
          }
          @include respond-to("m") {
            font-size: 20px;
          }
          @include respond-to("ms") {
            font-size: 18px;
          }
          @include respond-to("s") {
            font-size: 17px;
          }
          @include respond-to("xs") {
            font-size: 15px;
          }
        }

        h2 {
          font-size: 20px;
          padding: 5px;
          align-items: center;
          font-family: "Roboto", sans-serif;

          @include respond-to("xl") {
            font-size: 18px;
            padding: 0px;
          }
          @include respond-to("l") {
            font-size: 19px;
          }
          @include respond-to("m") {
            font-size: 18px;
          }
          @include respond-to("ms") {
            font-size: 17px;
          }
          @include respond-to("s") {
            font-size: 16px;
          }

          @include respond-to("xs") {
            font-size: 16px;
          }
        }
      }
    }
  }

  .bottomContainer {
    position: absolute;
    bottom: 10px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include respond-to("xs") {
      display:none;
    }


    a {
      text-decoration: none;
      color: crimson;
      animation: arrowBlink 2s infinite;

      h3 {
        font-size: 20px;

        @include respond-to("xl") {
          font-size: 17px;
        }
        @include respond-to("l") {
          font-size: 15px;
        }
        @include respond-to("m") {
          font-size: 16px;
        }
        @include respond-to("ms") {
          font-size: 14px;
        }
        @include respond-to("s") {
          font-size: 16px;
        }
        @include respond-to("xs") {
          font-size: 14px;
        }
      }

      .arrow {
        display: flex;
        justify-content: center;
        position: relative;
      }
    }
  }
}
