@import "../../global.scss";
.education {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: black;
  width: 100vw;
  border-bottom: 10px solid rgb(crimson,0.9);

  .title {
    color: white;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: row;
    color: grey;
    width: 100%;
    padding: 80px 0px 30px 40px;


    @include respond-to("m") {
      padding-top: 100px;
    }

    @include respond-to("ms") {
      height: 10%;
      padding-top: 70px;
    }

    @include respond-to("s") {
      height: 8%;
      padding-top: 90px;
    }
    @include respond-to("xs") {
      height: 8%;
      padding-top: 80px;
    }

    h1 {
      font-weight: normal;
      font-size: 40px;
      color:white;
      border-bottom: 3px solid white;
      

      @include respond-to("xl") {
        font-size: 35px;
        color:blue;
      }
      @include respond-to("l") {
        font-size: 33px;
        color:brown;
      }
      @include respond-to("m") {
        font-size: 30px;
        color:red;
      }
      @include respond-to("ms") {
        font-size: 28px;
        color:yellow;
      }
      @include respond-to("s") {
        font-size: 27px;
        color:rgb(148, 148, 161);
      }
      @include respond-to("xs") {
        font-size: 25px;
        color:pink;
      }
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    align-content: left;
    
    .card {
      display: flex;
      flex-direction: column;
      color: white;
      padding:40px;
      margin-bottom: 55px;

      @include respond-to("xl") {
        margin-bottom: 55px;
      }
      @include respond-to("m") {
        margin-bottom: 50px;
      }

      @include respond-to("ms") {
        margin-bottom: 40px;
      }
      @include respond-to("s") {
        margin-bottom: 35px;
      }

      @include respond-to("xs") {
        margin-bottom: 30px; 
      }

      .top {
        display: flex;
        flex-direction: column;
        align-items: left;

        h1 {
          font-size: 40px;
          font-family: "Roboto", sans-serif;
          color:grey;
          padding-bottom:10px;

          @include respond-to("xl") {
            font-size: 35px;
          }
          @include respond-to("l") {
            font-size: 33px;
          }
          @include respond-to("m") {
            font-size: 30px;
          }
          @include respond-to("ms") {
            font-size: 28px;
          }
          @include respond-to("s") {
            font-size: 26px;
          }
          @include respond-to("xs") {
            font-size: 25px;
          }
        }
        h2 {
          font-size: 35px;
          font-family: "Roboto", sans-serif;

          @include respond-to("xl") {
            font-size: 33px;
          }
          @include respond-to("l") {
            font-size: 31px;
          }
          @include respond-to("m") {
            font-size: 29px;
          }

          @include respond-to("ms") {
            font-size: 27px;
          }
          @include respond-to("s") {
            font-size: 25px;
          }
          @include respond-to("xs") {
            font-size: 23px;
          }
        }

        h3 {
          font-size: 30px;
          font-family: "Roboto", sans-serif;
          

          @include respond-to("xl") {
            font-size: 29px;
          }
          @include respond-to("l") {
            font-size: 28px;
          }
          @include respond-to("m") {
            font-size: 26px;
          }
          @include respond-to("ms") {
            font-size: 24px;
          }
          @include respond-to("s") {
            font-size: 22px;
          }
          @include respond-to("xs") {
            font-size: 20px;
            padding-top: 10px;
          }
        }
      }

      .center {
        margin: 60px 0px;
        font-weight: 900;
        
        .units {
          padding-bottom: 5px;
          h2 {
            font-size: 30px;
            font-family: "Roboto", sans-serif;
            color:grey;

            @include respond-to("xl") {
              font-size: 35px;
            }
            @include respond-to("l") {
              font-size: 33px;
            }
            @include respond-to("m") {
              font-size: 31px;
            }
            @include respond-to("ms") {
              font-size: 29px;
            }
            @include respond-to("s") {
              font-size: 27px;
            }
            @include respond-to("xs") {
              font-size: 25px;
            }
          }
        }

        .info {
          ul {
            padding:0px;
            li {
              font-size: 25px;
              font-family: "Roboto", sans-serif;
          
              
              @include respond-to("xl") {
                font-size: 25px;
              }
              @include respond-to("l") {
                font-size: 25px;
              }
              @include respond-to("m") {
                font-size: 24px;
              }
              @include respond-to("ms") {
                font-size: 22px;
              }
              @include respond-to("s") {
                font-size: 20px;
              }
              @include respond-to("xs") {
                font-size: 18px;
              }
            }
          }
        }
      }

      .bottom {
        display: flex;
        align-items: left;
        flex-direction: column;
        
        @include respond-to("s") {
        
        }

        h1 {
          font-size: 30px;
          font-family: "Roboto", sans-serif;
          color:grey;

          @include respond-to("xl") {
            font-size: 35px;
          }
          @include respond-to("l") {
            font-size: 33px;
          }
          @include respond-to("m") {
            font-size: 31px;
          }
          @include respond-to("ms") {
            font-size: 29px;
          }
          @include respond-to("s") {
            font-size: 27px;
          }
          @include respond-to("xs") {
            font-size: 25px;
          }
        }

        h2 {
          font-size: 30px;
          padding: 5px;
          align-items: center;
          font-family: "Roboto", sans-serif;
          border-bottom: 3px solid rgb(59, 59, 59);
          line-height: 50px;

          @include respond-to("xl") {
            font-size: 33px;
            border-bottom: 5px solid rgb(59, 59, 59);
            line-height: 50px;
          }
          @include respond-to("l") {
            font-size: 31px;
          }
          @include respond-to("m") {
            font-size: 29px;
          }

          @include respond-to("ms") {
            font-size: 26px;
          }
          @include respond-to("s") {
            font-size: 24px;
          }
          
          @include respond-to("xs") {
            font-size: 23px;
          }
        }
      }
    }
  }

  .bottomContainer {
    position: absolute;
    bottom: 15px;
    flex-direction: column;
    display: flex;
    align-items: center;
    width:100vw;
    
    @include respond-to("l") {
      
    }

    a {
      text-decoration: none;
      color: rgb(crimson,0.8);
      animation: arrowBlink 2s infinite;

      h3 {
        font-size: 22px;

        @include respond-to("xl") {
          font-size: 20px;
        }
        @include respond-to("l") {
          font-size: 19px;
        }
        @include respond-to("m") {
          font-size: 18px;
        }
        @include respond-to("ms") {
          font-size: 17px;
        }
        @include respond-to("s") {
          font-size: 16px;
        }
        @include respond-to("xs") {
          font-size: 15px;
        }
      }

      .arrow {
        display: flex;
        justify-content: center;
        position: relative;
      }
    }
  }
}
