@import "../../global.scss";

.menu {
  width: 100%;
  height: 100%;
  background-color:rgba(black,0.9);
  position: fixed;
  right: -100%;
  
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 2s ease-in-out;

  @include mobile{
        
  }

  &.active {
    right: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-size: 30px;
    color: crimson;
    width: 100%;
    height: 80%;

    @include respond-to('xl') {
      font-size: 25px;
    }
    
    li {
      transition: all 0.5s ease-in-out;
      a {
        font-size: inherit;
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        color:yellow;
        transform: scale(1.2);
      }
    }
  }
}