@import "../../global.scss";

.topbar {
  width: 100%;
  color: white;
  position: fixed;
  z-index: 3;
  top:0px;


  @include respond-to('xl') {
    
  }
  @include respond-to('l') {
   
  }
  @include respond-to('m') {
   
  }
  @include respond-to('s') {
  }
   
  @include respond-to('xs') {
    
  }

  
  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 15px;

    .left {
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      
      
      .box{
        background: black;
        padding: 10px;

      h1{
        letter-spacing: 6px;
        text-transform: uppercase;
        font-size: 28px;
        font-weight: normal;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        &:hover {
          color: ghostwhite;
        }

        @include respond-to('xl') {
          font-size: 24px;
        }
        @include respond-to('l') {
          font-size: 22px;
        }
        @include respond-to('m') {
          font-size: 20px;
        }
        @include respond-to('ms') {
          font-size: 18px;
        }
        @include respond-to('s') {
          font-size: 14px;
        }
        @include respond-to('xs') {
          font-size: 12px;
        }
      }
    }
    }

    .right {
      padding-right: 80px;

      .hamburger {
        width: 40px;
        height: 26px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        @include respond-to('xl') {
          width: 30px;
          height: 25px;
        }
        @include respond-to('l') {
          width: 28px;
          height: 23px;
        }
        @include respond-to('m') {
          width: 27px;
          height: 22px;
        }
        @include respond-to('s') {
          width: 27px;
          height: 22px;
        }
        @include respond-to('xs') {
          width: 28px;
          height: 20px;
        }

        span {
          width: 100%;
          height: 3px;
          background-color: white;
          transform-origin: left;
          transition: all 2s ease;
          @include respond-to('s') {
            
            height: 2px;
          }
        }
      }
    }
  }

  &.active {

    transition: all 3s ease;

    .hamburger {
      span {
        &:first-child {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
