@import "../../global.scss";

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  border-bottom: 10px solid rgba(black,0.5);

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding:50px 0px;

    @include respond-to("xl") {
      padding:120px 0px 0px 0px;

    }
    @include respond-to("l") {
      padding:110px 0px 0px 0px;

    }
    @include respond-to("m") {
      padding:90px 0px 0px 0px;

    }
    @include respond-to("ms") {
      padding:70px 0px 0px 0px;

    }
    @include respond-to("s") {
      padding:60px 0px 50px 0px;

    }
    @include respond-to("xs") {
      padding:50px 0px 0px 0px;
    }



    h1 {
      font-size: 45px;
      color: white;
      font-weight: normal;
      

      @include respond-to("xl") {
        font-size: 35px;
        color: yellow;
      }
      @include respond-to("l") {
        font-size: 33px;
        color: green;
      }
      @include respond-to("m") {
        font-size: 30px;
        color: red;
      }
      @include respond-to("ms") {
        font-size: 28px;
        color: brown;
      }
      @include respond-to("s") {
        font-size: 28px;
        color: pink;
      }
      @include respond-to("xs") {
        font-size: 25px;
        color: burlywood;
      }
    }
  }

  .introduction {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 80vw;
    margin-bottom: 25px;

    @include respond-to("xl") {
      margin-top: 70px;
    }
    @include respond-to("ms") {
      margin-bottom: 0px;
      margin-top: 60px;
    }
    @include respond-to("s") {
      margin-top: 40px;
    }

    h2 {
      font-weight: normal;
      font-size: 28px;
      font-family: "Roboto", sans-serif;

      @include respond-to("xl") {
        font-size: 24px;
      }
      @include respond-to("m") {
        font-size: 23px;
      }
      @include respond-to("ms") {
        font-size: 21px;
      }
      @include respond-to("s") {
        font-size: 19px;
      }
      @include respond-to("xs") {
        font-size: 17px;
      }
      
    }
  }

  .container {
    margin: 150px 0px;
    width: 80%;
    display: flex;
    align-items: center top;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @include respond-to("xl") {
      margin: 90px 0px;
    }
    @include respond-to("l") {
      margin: 100px 0px;
    }
    @include respond-to("xs") {
      margin: 0px 0px 50px 0px;
    }

    .item {
      width: 30vw;
      border-radius: 10px;
      border: 2px solid rgba(white,0.9);
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
  
      @include respond-to("xl") {
        width: 35vw;
        margin-bottom: 80px;
      }
      @include respond-to("l") {
        width: 55vw;
        margin-bottom: 80px;
      }
      @include respond-to("m") {
        width: 60vw;
        margin-bottom: 120px;
      }
      @include respond-to("ms") {
        width: 70vw;
        margin-bottom: 80px;
      }
      @include respond-to("xs") {
        width: 80vw;
        margin: 50px 0px;
      }


      .description {
        position: absolute;
        width: 90%;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        display: flex;
        align-items: center;

        h4 {
          font-size: 30px;
          text-align: center;

          @include respond-to("xl") {
            font-size: 20px;
          }
        }
        .details {
          p {
            font-size: 22px;
            font-family: "Roboto", sans-serif;
            color: white;
            text-align: center;
            @include respond-to("xl") {
              font-size: 19px;
            }
            @include respond-to("l") {
              font-size: 20px;
            }
            @include respond-to("m") {
              font-size: 18px; 
              font-weight: normal;
            }
            @include respond-to("ms") {
              font-size: 17px;
            }
            @include respond-to("s") {
              font-size: 15px;
            }
            @include respond-to("xs") {
              font-size: 14px;
            }
          }
        }

        .button {
          display: flex;
          justify-content: center;
          background-color: rgba(black, 0.7);
          align-items: center;
          cursor: pointer;
          border-radius: 20px;
          border-color: grey;
          border-style: solid;
          border-width: 1px;
          margin-bottom: 10px;
          height: 40px;
          width: 250px;
          font-size: 15px;

          @include respond-to("xl") {
            font-size: 16px;
            margin-bottom: 0px;
            width: 200px;
            height: 40px;
          }
          @include respond-to("l") {
            font-size: 17px;
            margin-bottom: 0px;
            width: 190px;
            height: 50px;
          }
          @include respond-to("m") {
            font-size: 15px;
            margin-bottom: 0px;
            width: 160px;
            height: 45px;
          }
          @include respond-to("ms") {
            font-size: 15px;
            margin-bottom: 0px;
            width: 180px;
            height: 50px;
          }
          @include respond-to("s") {
            font-size: 13px;
            margin-bottom: 0px;
            width: 155px;
            height: 30px;
          }
          @include respond-to("xs") {
            font-size: 12px;
            width: 150px;
          }

          a {
            text-decoration: none;
            font-weight: bold;
            color: white;
          }

          a:visited {
            text-decoration: none;
            color: white;
          }
        }
        .details {
          justify-content: center;

          h4 {
            font-size: 13px;
            width: 70%;
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-image: url("../../background-images/react.png");
        background-repeat: no-repeat;
        background-position: center;
        color: whitesmoke;

        img {
          opacity: 0.7;
          z-index: 0;
        }

        &.construction {
          background-image: url("../../background-images/under-construction.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          transition: all 0.9s ease ease-in-out;

          &:hover {
            color: white;

            img {
              z-index: 0;
            }
          }
        }
      }
    }
  }

  .bottomContainer {
    position: absolute;
    bottom: 10px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      text-decoration: none;
      color: white;
      animation: arrowBlink 2s infinite;

      h3 {
        font-size: 22px;

        @include respond-to("xl") {
          font-size: 20px;
        }
        @include respond-to("l") {
          font-size: 19px;
        }
        @include respond-to("m") {
          font-size: 18px;
        }
        @include respond-to("ms") {
          font-size: 17px;
        }
        @include respond-to("s") {
          font-size: 16px;
        }
        @include respond-to("xs") {
          font-size: 15px;
        }
      }

      .arrow {
        display: flex;
        justify-content: center;
        position: relative;
      }
    }
  }
}
