@import "../../global.scss";

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  justify-content: space-evenly;

  .header {
    display: flex;
    align-items: center;
    color: crimson;
    margin-top: 130px;
    height: 80px;
    border-bottom: 1px solid crimson;

    @include respond-to("xl") {
      height: 70px;
    }
    @include respond-to("l") {
      height: 50px;
    }

    h1 {
      font-weight: normal;
      font-size: 35px;

      @include respond-to("xl") {
        font-size: 25px;
        color:white;
      }
      @include respond-to("l") {
        font-size: 24px;
        color:pink;
      }
      @include respond-to("m") {
        font-size: 24px;
        color:yellow;
      }
      @include respond-to("ms") {
        font-size: 25px;
        color:red;
      }
      @include respond-to("s") {
        font-size: 25px;
        color:blue;
      }
      @include respond-to("xs") {
        font-size: 25px;
        color:green;
      }
    }
  }

  .introduction {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    height: 15%;
    width: 80%;
    margin-bottom: 25px;

    @include respond-to("xl") {
      margin-top: 30px;
      height: 25%;
    }

    h2 {
      font-weight: normal;
      font-size: 22px;
      font-family: "Roboto", sans-serif;

      @include respond-to("xl") {
        font-size: 17px;
      }
      @include respond-to("l") {
        font-size: 15px;
      }
      
    }
  }

  .container {
    margin: 50px 0px 100px 0px;
    width: 80%;
    height: 60%;
    display: flex;
    align-items: center top;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 3px solid crimson;

    @include respond-to("xl") {
      border-bottom: 1px solid crimson;
      margin-bottom: 70px;
      width: 90%;
      
    }
    

    @include mobile {
      height: 100%;
    }

    .item {
      height: 300px;
      border-radius: 20px;
      border: 2px solid rgba(crimson,0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
  
      @include respond-to("xl") {
        background-color: black;
      }

      @include mobile {
        width: 60%;
        height: 20%;
      }

      @include respond-to("xl") {
        height: 170px;
      }


      .description {
        position: absolute;
        width: 90%;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        display: flex;
        align-items: center;

       
        

        h4 {
          font-size: 30px;
          text-align: center;

          @include respond-to("xl") {
            font-size: 20px;
          }
        }
        .details {
          p {
            font-size: 18px;
            font-family: "Roboto", sans-serif;
            font-weight: normal;

            @include respond-to("xl") {
              font-size: 12px;
              color: yellow;
            }
          }
        }

        .button {
          display: flex;
          justify-content: center;
          background-color: rgba(crimson, 0.3);
          align-items: center;
          cursor: pointer;
          border-radius: 20px;
          border-color: grey;
          border-style: solid;
          border-width: 1px;
          margin-bottom: 140px;
          height: 40px;
          width: 250px;
          font-size: 15px;

          @include respond-to("xl") {
            font-size: 10px;
            margin-bottom: 0px;
            width: 150px;
            height: 30px;
            background-color: rgba(crimson, 0.9);

          }

          @include mobile {
            font-size: 15px;
          }

          a {
            text-decoration: none;
            font-weight: bold;
            color: white;
          }

          a:visited {
            text-decoration: none;
            color: white;
          }
        }
        .details {
          justify-content: center;

          h4 {
            font-size: 13px;
            width: 100%;
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-image: url("../../background-images/react.png");
        background-repeat: no-repeat;
        background-position: center;
        color: whitesmoke;

        img {
          opacity: 0.7;
          z-index: 0;
        }

        &.construction {
          background-image: url("../../background-images/under-construction.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          transition: all 0.9s ease ease-in-out;

          &:hover {
            color: white;

            img {
              z-index: 0;
            }
          }
        }
      }
    }
  }

  .bottomContainer {
    position: absolute;
    bottom: 10px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include mobile {
      display: none;
    }

    a {
      text-decoration: none;
      color: crimson;
      animation: arrowBlink 2s infinite;

      h3 {
        font-size: 15px;

        @include respond-to("xl") {
          font-size: 13px;
        }
      }

      .arrow {
        display: flex;
        justify-content: center;
        position: relative;
      }
    }
  }
}
