@import "../../global.scss";

.contact{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-image: url('../../background-images/dark-lights.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 

    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height:100%;

        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 10vh;
            width: 50%;
            height:75%;
            border-radius: 10px;
            border-color:black;
            border-style: solid;
            border-width: 1px;
            box-shadow: 0px 0px 20px -3px white; 
            background-color:rgba(black, 0.6);

            @include mobile {
                width: 80%;
                height:60%;
                margin-top: 0vh;
            }

            h2{
                font-size: 50px;
                color:white;

                @include mobile {
                    font-size: 25px;
                }
            }

            .icon{
                display:flex;
                justify-content: space-around;
                align-items: center;
                cursor: pointer;
                width: 10%;
                height:5%;
                border-radius: 20px;
                border-color: grey;
                border-style: solid;
                border-width: 1px; 
                background-image: url('../../background-images/link.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center; 

                @include mobile {
                    width: 30%;
                    height:5%;  
                }
                
                
                a{
                    font-weight: bold;
                    color: white;
                    opacity: 0;
                    
    
                }
    
                a:visited { 
                    text-decoration: none; 
                    color: white;
                
                   }
                
    
            }

            form{
                width: 60%;
                height: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                @include mobile {
                    width: 80%;
                    height:70%;  
                }

                input{
                    width: 90%;
                    height: 10%;
                    font-size: 25px;
                    border-radius: 5px;
                    border-color:black;
                    border-style: solid;
                    border-width: 1px;
                        @include mobile {
                            width: 80%;
                            height:9%;  
                            font-size: 10px; 
                        }
                    }

                        textarea{
                            width: 90%;
                            height: 50%;
                            font-size: 25px;
                            border-radius: 5px;
                            border-color:black;
                            border-style: solid;
                            border-width: 1px;

                            @include mobile {
                                font-size: 10px;  
                            }

                            }

                        button{
                            width: 40%;
                            height: 10%;
                            color: white;
                            background-color: crimson;
                            border: none;
                            border-radius: 10px;
                            font-weight: 100;
                            cursor: pointer;
                            font-size: 25px;
                            border-color:black;
                            border-style: solid;
                            border-width: 0.5px;
                            margin: 1vh;
                            
                            @include mobile {
                                width: 30%;
                                height: 10%;
                                font-size: 10px;  
                            }

                            &:focus{
                                outline: none;
                            }

                            }

                            span{
                                color: yellow;
                                font-weight: 100;
                                font-size: 20px;

                                @include mobile {
                                    font-size: 10px;
                                }

                            }

                    }

                }
        }
        
}