@import "../../global.scss";

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #1a1818 0%, black 100%);

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin: 150px 0px;
    width: 100%;

    @include respond-to("xl") {
      margin: 140px 0px;
    }
    @include respond-to("l") {
      margin: 130px 0px;
    }
    @include respond-to("m") {
      margin: 120px 0px;
    }
    @include respond-to("ms") {
      margin: 90px 0px;
    }
    @include respond-to("s") {
      margin: 80px 0px;
    }
    @include respond-to("xs") {
      margin: 60px 0px;
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      border-radius: 5px;
      border-color: black;
      border-style: solid;
      border-width: 1px;
      background-color: rgba(grey, 0.1);
      border-color: rgba(white, 0.6);

      @include respond-to("xl") {
        width: 45%;
      }
      @include respond-to("l") {
        width: 55%;
      }
      @include respond-to("ms") {
        width: 60%;
      }
      @include respond-to("s") {
        width: 80%;
      }
      @include respond-to("xs") {
        width: 85%;
      }

      h1 {
        font-size: 25px;
        color: whitesmoke;
        font-weight: normal;
        padding: 50px 0px 20px 0px;
        text-transform: uppercase;
        letter-spacing: 25px;
        line-height: 50px;

        @include respond-to("xl") {
          font-size: 28px;
          padding: 50px 0px 20px 0px;
          letter-spacing: 8px;
          line-height: 33px;
        }
        @include respond-to("l") {
          font-size: 26px;
          letter-spacing: 8px;
          line-height: 31px;
        }
        @include respond-to("m") {
          font-size: 25px;
          letter-spacing: 8px;
          line-height: 30px;
        }
        @include respond-to("ms") {
          font-size: 23px;
          letter-spacing: 8px;
          line-height: 28px;
        }
        @include respond-to("s") {
          font-size: 17px;
          padding: 30px 0px 15px 0px;
          letter-spacing: 10px;
          line-height: 20px;
        }
        @include respond-to("xs") {
          font-size: 15px;
        }
      }
      h2 {
        font-size: 20px;
        padding: 20px 0px;
        color: whitesmoke;
        letter-spacing: 5px;
        text-transform: none;
        font-weight: 300;

        @include respond-to("xl") {
          font-size: 20px;
        }

        @include respond-to("l") {
          font-size: 19px;
        }
        @include respond-to("m") {
          font-size: 18px;
        }
        @include respond-to("ms") {
          font-size: 17px;
        }
        @include respond-to("s") {
          font-size: 16px;
          padding: 15px 0px;
        }
        @include respond-to("xs") {
          font-size: 13px;
        }
      }

      .icon {
        display: flex;
        align-items: center;
        cursor: pointer;

        a {
          display: block;

          img {
            width: 75px;

            @include respond-to("xl") {
              width: 70px;
            }
            @include respond-to("l") {
              width: 65px;
            }
            @include respond-to("m") {
              width: 60px;
            }
            @include respond-to("ms") {
              width: 50px;
            }
            @include respond-to("s") {
              width: 50px;
            }
            @include respond-to("xs") {
              width: 40px;
            }
          }
        }
      }

      form {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
          width: 90%;
          font-size: 18px;
          border-radius: 5px;
          border-color: rgba(white, 0.5);
          border-style: solid;
          border-width: 1px;
          font-family: "Roboto", sans-serif;
          padding: 10px;
          background-color: rgba(black, 0.1);
          color: white;
          outline: none;
          margin-bottom: 10px;
          text-transform: uppercase;
          letter-spacing: 5px;
          line-height: 30px;

          @include respond-to("xl") {
            margin-bottom: 10px;
            letter-spacing: 1px;
            line-height: 24px;
            font-size: 18px;
            width: 90%;
          }
          @include respond-to("l") {
            font-size: 17px;
            line-height: 21px;
          }
          @include respond-to("m") {
            font-size: 17px;
            line-height: 20px;
          }
          @include respond-to("ms") {
            font-size: 15px;
            line-height: 20px;
          }
          @include respond-to("s") {
            line-height: 20px;
            font-size: 14px;
          }
          @include respond-to("xs") {
            padding: 5px;
            width: 95%;
            line-height: 20px;
            font-size: 14px;
          }
        }

        textarea {
          padding: 10px 10px 300px 10px;
          width: 90%;
          font-size: 18px;
          border-radius: 5px;
          border-color: rgba(white, 0.5);
          border-style: solid;
          border-width: 1px;
          font-family: "Roboto", sans-serif;
          background-color: rgba(black, 0.1);
          color: white;
          outline: none;
          margin-bottom: 45px;
          text-transform: uppercase;
          letter-spacing: 5px;
          line-height: 30px;

          @include respond-to("xl") {
            margin-bottom: 30px;
            padding: 10px 10px 250px 10px;
            width: 90%;
            letter-spacing: 1px;
            line-height: 24px;
            font-size: 18px;
          }
          @include respond-to("l") {
            margin-bottom: 15px;
            padding: 10px 10px 230px 10px;
            font-size: 17px;
            line-height: 21px;
          }
          @include respond-to("m") {
            margin-bottom: 15px;
            padding: 10px 10px 210px 10px;
            font-size: 17px;
            line-height: 20px;
          }
          @include respond-to("ms") {
            margin-bottom: 15px;
            padding: 10px 10px 190px 10px;
            font-size: 16px;
            font-size: 15px;
           
            line-height: 20px;
          }
          @include respond-to("s") {
            padding: 10px 10px 170px 10px;
            font-size: 15px;
           
            line-height: 20px;
            font-size: 14px;
          }
          @include respond-to("xs") {
            margin-bottom: 15px;
            padding: 10px 0px 160px 10px;
            width: 95%;
          }
        }

        button {
          width: 25%;
          height: 50px;
          color: white;
          background-color: rgba(black, 0.1);
          border-radius: 10px;
          font-weight: 100;
          cursor: pointer;
          font-size: 17px;
          border-color: rgba(white, 0.3);
          border-style: solid;
          border-width: 0.5px;
          margin-bottom: 45px;
          text-transform: uppercase;
          letter-spacing: 5px;
          line-height: 30px;

          @include respond-to("xl") {
            width: 25%;
            height: 40px;
            font-size: 16px;
            margin-bottom: 20px;
          }
          @include respond-to("l") {
            width: 30%;
            height: 35px;
            font-size: 14px;
            margin-bottom: 15px;
            letter-spacing: 1px;
          }
          @include respond-to("m") {
            font-size: 13px;
            letter-spacing: 1px;
          }
          @include respond-to("ms") {
            font-size: 12px;
            margin-bottom: 10px;
            letter-spacing: 1px;
          }
          @include respond-to("s") {
            margin-bottom: 15px;
            font-size: 12px;
          }
          @include respond-to("xs") {
            width: 30%;
            margin-bottom: 10px;
          }

          &:focus {
            outline: none;
          }
        }

        span {
          color: white;
          font-size: 17px;
          text-align: center;
          margin: 0px 10px 50px 0px;

          @include respond-to("xl") {
            font-size: 16px;
            margin: 0px 10px 24px 0px;
          }
          @include respond-to("l") {
            font-size: 15px;
            margin: 0px 10px 22px 0px;
          }
          @include respond-to("m") {
            font-size: 14px;
            margin: 0px 10px 20px 0px;
          }
          @include respond-to("ms") {
            font-size: 13px;
            margin: 0px 10px 18px 0px;
          }
          @include respond-to("s") {
            font-size: 12px;
            margin: 0px 10px 15px 0px;
          }
          @include respond-to("xs") {
            font-size: 12px;
            margin: 0px 10px 10px 0px;
          }
        }
      }
    }
  }
}
