@import "../../global.scss";

.works {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: black;
  flex-direction: column;
  border-bottom: 4px solid white;
  background-image: linear-gradient(to right, #1a1818 0%, black 100%);

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;

    h1 {
      font-weight: 300;
      font-size: 55px;
      color: white;
      text-transform: uppercase;
      letter-spacing: 30px;
      line-height: 300px;
      padding: 70px 0px;
      text-align: center;

      @include respond-to("xl") {
        font-size: 35px;
      }
      @include respond-to("l") {
        font-size: 33px;
      }
      @include respond-to("m") {
        font-size: 30px;
        letter-spacing: 20px;
        padding: 50px 40px;
        line-height: 170px;
      }
      @include respond-to("ms") {
        font-size: 28px;
        letter-spacing: 20px;
        line-height: 50px;
      }
      @include respond-to("s") {
        font-size: 28px;
        font-size: 18px;
        letter-spacing: 20px;
        padding: 50px 40px;
        line-height: 50px;
      }
    }
  }
  .container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .item {
      width: 70vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid white;
      border-radius: 5px;
      margin: 20px 0px 150px 0px;

      @include respond-to("m") {
        width: 85vw;
      }
      @include respond-to("s") {
        width: 90vw;
      }

      .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .top {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: white;

          .head {
            text-transform: uppercase;
            letter-spacing: 10px;
            line-height: 100px;
            font-size: 30px;
            padding: 40px 60px;
            h2 {
              font-weight: 300;
              text-align: center;
              @include respond-to("xl") {
                font-size: 30px;
                letter-spacing: 20px;
                line-height: 60px;
              }
              @include respond-to("l") {
                font-size: 27px;
                letter-spacing: 20px;
                line-height: 50px;
              }
              @include respond-to("m") {
                font-size: 26px;
                letter-spacing: 25px;
              }
              @include respond-to("ms") {
                font-size: 24px;
                letter-spacing: 20px;
                line-height: 40px;
              }
              @include respond-to("s") {
                font-size: 22px;
                letter-spacing: 10px;
                line-height: 30px;
              }
              @include respond-to("xs") {
                font-size: 18px;
                letter-spacing: 10px;
                line-height: 40px;
              }
            }
          }

          .button {
            display: flex;
            justify-content: center;
            background-color: black;
            align-items: center;
            cursor: pointer;
            border-radius: 5px;
            border-color: white;
            border-style: solid;
            border-width: 1px;
            height: 50px;
            width: 200px;
            font-size: 17px;
            text-transform: uppercase;
            letter-spacing: 10px;

            @include respond-to("xl") {
              height: 40px;
              width: 170px;
              font-size: 16px;
            }
            @include respond-to("l") {
              height: 40px;
              width: 170px;
              font-size: 15px;
            }
            @include respond-to("m") {
              font-size: 15px;
              height: 40px;
              width: 170px;
            }
            @include respond-to("s") {
              height: 40px;
              width: 170px;
              font-size: 13px;
            }
            @include respond-to("xs") {
              height: 30px;
              width: 150px;
              font-size: 11px;
              margin: 10px 100px;
            }

            a {
              text-decoration: none;
              font-weight: bold;
              color: white;
            }
          }
        }

        .card {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          width: 100vw;

          .top {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100vw;

            .product {
              h2 {
                font-size: 32px;
                color: white;
                font-weight: 300;
                color: white;
                text-transform: uppercase;
                letter-spacing: 10px;
                line-height: 150px;
                text-align: center;
                padding: 0px 40px;

                @include respond-to("xl") {
                  font-size: 27px;
                  letter-spacing: 10px;
                  line-height: 50px;
                  padding: 15px 40px;
                }
                @include respond-to("l") {
                  font-size: 25px;
                  letter-spacing: 10px;
                  line-height: 50px;
                  padding: 15px 40px;
                }
                @include respond-to("m") {
                  font-size: 23px;
                }
                @include respond-to("ms") {
                  font-size: 22px;
                  letter-spacing: 10px;
                  line-height: 50px;
                  padding: 15px 40px;
                }
                @include respond-to("s") {
                  font-size: 20px;
                  letter-spacing: 10px;
                  line-height: 50px;
                  padding: 15px 40px;
                }
                @include respond-to("xs") {
                  font-size: 18px;
                  letter-spacing: 10px;
                  line-height: 40px;
                }
              }
            }

            .position {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              color: white;

              .role {
                h2 {
                  font-size: 32px;
                  color: white;
                  font-weight: 300;
                  letter-spacing: 5px;
                  line-height: 70px;
                  text-align: center;

                  @include respond-to("xl") {
                    font-size: 27px;
                    letter-spacing: 5px;
                    line-height: 20px;
                  }
                  @include respond-to("l") {
                    font-size: 25px;
                    letter-spacing: 5px;
                    line-height: 20px;
                  }
                  @include respond-to("m") {
                    font-size: 23px;
                    letter-spacing: 5px;
                    line-height: 20px;
                  }
                  @include respond-to("ms") {
                    font-size: 21px;
                    letter-spacing: 5px;
                    line-height: 20px;
                  }
                  @include respond-to("s") {
                    font-size: 19px;
                    letter-spacing: 5px;
                    line-height: 20px;
                  }
                  @include respond-to("xs") {
                    font-size: 15px;
                    letter-spacing: 2px;
                    line-height: 20px;
                  }
                }
              }

              .date {
                h3 {
                  font-size: 25px;
                  color: white;
                  font-weight: 300;
                  letter-spacing: 4px;
                  line-height: 60px;
                  text-align: center;

                  @include respond-to("xl") {
                    font-size: 25px;
                    letter-spacing: 4px;
                    line-height: 50px;
                  }
                  @include respond-to("l") {
                    font-size: 23px;
                    letter-spacing: 4px;
                    line-height: 50px;
                  }
                  @include respond-to("m") {
                    font-size: 21px;
                    letter-spacing: 4px;
                    line-height: 50px;
                  }
                  @include respond-to("ms") {
                    font-size: 19px;
                    letter-spacing: 4px;
                    line-height: 50px;
                  }
                  @include respond-to("s") {
                    font-size: 19px;
                    letter-spacing: 4px;
                    line-height: 50px;
                  }
                  @include respond-to("xs") {
                    font-size: 15px;
                    letter-spacing: 2px;
                    line-height: 20px;
                  }
                }
              }
            }
          }
        }
      }

      .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100vw;

        .responsabilities {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          padding: 50px;

          @include respond-to("xl") {
            padding: 55px;
          }
          @include respond-to("l") {
            padding: 50px;
          }
          @include respond-to("m") {
            padding: 45px;
          }
          @include respond-to("ms") {
            padding: 40px;
          }
          @include respond-to("s") {
            padding: 40px;
          }
          h4 {
            font-size: 25px;
            color: white;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 10px;
            line-height: 150px;
            text-align: center;

            @include respond-to("xl") {
              font-size: 28px;
              line-height: 35px;
              letter-spacing: 10px;
            }
            @include respond-to("l") {
              font-size: 26px;
              line-height: 33px;
              letter-spacing: 10px;
            }
            @include respond-to("m") {
              font-size: 24px;
              letter-spacing: 9px;
              line-height: 31px;
            }
            @include respond-to("ms") {
              font-size: 21px;
              line-height: 40px;
              letter-spacing: 7px;
            }
            @include respond-to("s") {
              font-size: 20px;
              letter-spacing: 7px;
              line-height: 50px;
            }
            @include respond-to("xs") {
              font-size: 18px;
              letter-spacing: 7px;
              line-height: 50px;
            }
          }
        }
        .details {
          ul {
            list-style: none;
            
          
            li {
              font-size: 25px;
              color: white;
              letter-spacing: 1px;
              line-height: 30px;
              padding: 3px;

              @include respond-to("xl") {
                font-size: 23px;
                line-height: 30px;
                padding: 0px 250px;
              }
              @include respond-to("l") {
                font-size: 21px;
                line-height: 30px;
                padding: 0px 200px;
                
              }
              @include respond-to("m") {
                font-size: 21px;
                line-height: 30px;
                padding: 0px 150px;
                
              }
              @include respond-to("ms") {
                font-size: 17px;
                line-height: 24px;
                padding: 0px 80px;
              }
              @include respond-to("s") {
                font-size: 15px;
                line-height: 22px;
                padding: 0px 40px;
              }
              @include respond-to("xs") {
                font-size: 15px;
                line-height: 22px;
                padding: 0px 30px;
              }
            }
          }
        }

        .bottom {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          padding: 0px 50px;

          .tools {
            padding-top: 20px;
            h4 {
              font-size: 25px;
              font-weight: 300;
              color: white;
              text-transform: uppercase;
              letter-spacing: 10px;
              line-height: 150px;
              text-align: center;

              @include respond-to("xl") {
                font-size: 28px;
                line-height: 35px;
                letter-spacing: 7px;
              }
              @include respond-to("l") {
                font-size: 26px;
                line-height: 33px;
                letter-spacing: 7px;
              }
              @include respond-to("m") {
                font-size: 24px;
                line-height: 40px;
                letter-spacing: 7px;
              }
              @include respond-to("ms") {
                font-size: 21px;
              }
              @include respond-to("s") {
                font-size: 20px;
                letter-spacing: 7px;
                line-height: 50px;
              }
              @include respond-to("xs") {
                font-size: 18px;
                letter-spacing: 7px;
                line-height: 50px;
              }
            }
          }

          .details {
            font-size: 25px;
            color: white;
            font-weight: 300;
            letter-spacing: 2px;
            line-height: 35px;
            width: 60vw;
            text-align: center;
            margin-bottom: 70px;

            @include respond-to("xl") {
              padding: 50px 0px;
              width: 60vw;
            }
            @include respond-to("l") {
              padding: 40px 0px;
              width: 50vw;
            }
            @include respond-to("s") {
              padding: 30px 0px;
            }
            @include respond-to("xs") {
              padding: 20px 0px;
              width: 80vw;
            }
            h3 {
              font-size: 26px;
              color: white;
              font-weight: normal;

              @include respond-to("xl") {
                font-size: 23px;
                letter-spacing: 2px;
                line-height: 35px;
              }
              @include respond-to("l") {
                font-size: 24px;
                letter-spacing: 2px;
                line-height: 35px;
              }
              @include respond-to("m") {
                font-size: 23px;
                letter-spacing: 2px;
                line-height: 35px;
              }
              @include respond-to("ms") {
                font-size: 17px;
                letter-spacing: 2px;
                line-height: 20px;
              }
              @include respond-to("s") {
                font-size: 15px;
                letter-spacing: 1px;
                line-height: 22px;
                
              }
              @include respond-to("xs") {
                font-size: 15px;
                letter-spacing: 1px;
                line-height: 22px;
              }
            }
          }
        }
      }
    }
  }

  .bottomContainer {
    bottom: 20px;
    left: 0;
    right: 0;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }

    a {
      text-decoration: none;
      color: white;
      height: 80px;
      width: 80px;

      .arrow {
        border-radius: 50%;
        align-items: center;
      }
    }
  }
}
