@import "../../global.scss";

.works {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: linear-gradient(to left, #434343 0%, grey 100%);

  .arrow {
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    &.left {
      left: 100px;
    }
    &.right {
      right: 100px;
    }
  }

  .slider {
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;
    background-color: rgba(black, 0.6);

    @include mobile {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .item {
        width: 90%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin: 0;
        border-bottom: 3px solid crimson;

        @include respond-to("xl") {
          border-bottom: 1px solid crimson;
        }

        

        .top {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          font-size: 35px;
          height: 150px;
          color: crimson;

          .title {
            margin: 10px;
            height: 60px;

            @include respond-to("xl") {
              font-size: 28px;
            }
          }

          .button {
            display: flex;
            justify-content: center;
            background-color: rgba(crimson, 0.3);
            align-items: center;
            cursor: pointer;
            border-radius: 10px;
            border-color: grey;
            border-style: solid;
            border-width: 1px;
            height: 40px;
            width: 150px;
            font-size: 15px;

            @include respond-to("xl") {
              height: 40px;
              width: 140px;
              font-size: 13px;
            }

            a {
              text-decoration: none;
              font-weight: bold;
              color: white;
            }
          }
        }

        .info {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-around;
          width: 60%;
          height: 80%;
          border-color: rgba(crimson, 0.5);
          border-style: solid;
          border-width: 1px;
          border-radius: 5px;
          color: white;
          margin: 40px 0px 70px 0px;
          background-color: rgba(black, 0.3);

          @include respond-to("xl") {
            height: 100%;
          }

          h2 {
            font-size: 26px;
            margin-bottom: -30px;
            align-items: center;
            font-family: "Roboto", sans-serif;
            font-weight: normal;

            @include respond-to("xl") {
              font-size: 18px;
              margin-bottom: 0px;
              margin-top: 10px;
            }
          }
          h3 {
            font-size: 19px;
            align-items: center;
            font-weight: normal;
            font-family: "Roboto", sans-serif;
            font-style: italic;
            @include respond-to("xl") {
              font-size: 14px;
            }
          }
          h4 {
            font-size: 20px;
            align-items: center;
            font-weight: normal;
            font-family: "Roboto", sans-serif;
            border-bottom: 1px solid rgba(crimson, 0.5);
            margin-bottom: -15px;
            line-height: 35px;
            @include respond-to("xl") {
              font-size: 14px;
              margin-bottom: 0px;
              line-height: 20px;
              
            }
          }

          p {
            font-size: 18px;
            align-items: center;
            font-family: "Roboto", sans-serif;
            @include respond-to("xl") {
              font-size: 13px;
              margin-bottom: 15px;
            }
          }

          ul {
            width: 70%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            text-align: center;

            li {
              font-size: 19px;
              margin: 3px;
              font-weight: normal;
              font-family: "Roboto", sans-serif;

              @include respond-to("xl") {
                font-size: 13px;
              }

              @include mobile {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }

  .bottomContainer {
    position: absolute;
    bottom: 10px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include mobile {
      display: none;
    }

    a {
      text-decoration: none;
      color: crimson;
      animation: arrowBlink 2s infinite;

      h3 {
        font-size: 15px;

        @include respond-to("xl") {
          font-size: 13px;
        }
      }

      .arrow {
        display: flex;
        justify-content: center;
        position: relative;
      }
    }
  }
}
