@import "../../global.scss";

.works {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: linear-gradient(to left, #434343 0%, grey 100%);

  .arrow {
    position: absolute;
    cursor: pointer;

    @include respond-to("m") {
      display: none;
    }

    &.left {
      left: 100px;
    }
    &.right {
      right: 100px;
    }
  }

  .slider {
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;
    background-color: rgba(black, 0.6);

    @include respond-to("m") {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }
    @include respond-to("xs") {
      height: 100vh;
      flex-direction: column;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      @include respond-to("m") {
        flex-direction: column;
      }
      @include respond-to("xs") {
        flex-direction: column;
        height: 100%;
      }

      .item {
        width: 90%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin: 0;
        border-bottom: 1px solid crimson;

        @include respond-to("m") {
          border-bottom: none;
          height: 95%;
        }
        @include respond-to("xs") {
          border-bottom: none;
          height: 75%;
         
          
        }

        .top {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          font-size: 35px;
          height: 150px;
          color: crimson;
          @include respond-to("m") {
            height: 30%;
          }
          @include respond-to("xs") {
            height: 22%;
            justify-content: space-around;
          }

          .title {
            font-size: 35px;

            @include respond-to("xl") {
              font-size: 25px;
              color: white;
            }
            @include respond-to("l") {
              font-size: 24px;
              color: pink;
            }
            @include respond-to("m") {
              font-size: 24px;
              color: yellow;
            }
            @include respond-to("ms") {
              font-size: 25px;
              color: red;
            }
            @include respond-to("s") {
              font-size: 25px;
              color: blue;
            }
            @include respond-to("xs") {
              font-size: 11px;
              color:crimson;
            }
          }

          .button {
            display: flex;
            justify-content: center;
            background-color: rgba(crimson, 0.3);
            align-items: center;
            cursor: pointer;
            border-radius: 10px;
            border-color: grey;
            border-style: solid;
            border-width: 1px;
            height: 40px;
            width: 150px;
            font-size: 15px;

            @include respond-to("xl") {
              height: 40px;
              width: 140px;
              font-size: 13px;
            }
            @include respond-to("l") {
              height: 35px;
              width: 120px;
              font-size: 12px;
            }
            @include respond-to("m") {
              height: 40px;
              width: 90px;
              font-size: 8px;
            }
            @include respond-to("s") {
              height: 20px;
              width: 80px;
              font-size: 8px;
            }
            @include respond-to("xs") {
              height: 15px;
              width: 60px;
              font-size: 6px;
              
            }

            a {
              text-decoration: none;
              font-weight: bold;
              color: white;
            }
          }
        }

        .card {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-around;
          width: 70%;
          height: 80%;
          border-color: rgba(crimson, 0.5);
          border-style: solid;
          border-width: 1px;
          border-radius: 5px;
          color: white;
          background-color: rgba(black, 0.3);

          @include respond-to("xl") {
            height: 100%;
          }
          @include respond-to("m") {
            width: 80%;
            height: 100%;
          }
          @include respond-to("s") {
          }
          @include respond-to("xs") {
            height: 80%;
            width: 95%;
          }

          .top {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
            height: 15%;

            .product {
              h2 {
                font-size: 26px;
                align-items: center;
                font-family: "Roboto", sans-serif;
                font-weight: normal;

                @include respond-to("xl") {
                  font-size: 18px;
                }

                @include respond-to("l") {
                  font-size: 19px;
                }
                @include respond-to("m") {
                  font-size: 20px;
                }
                @include respond-to("ms") {
                  font-size: 17px;
                }
                @include respond-to("s") {
                  color: yellow;
                  font-size: 11px;
                }
                @include respond-to("xs") {
                  color:green;
                  font-size: 10px;
                  
                }
              }
            }

            .role {

              h3 {
                font-size: 19px;
                align-items: center;
                font-weight: normal;
                font-family: "Roboto", sans-serif;
                font-style: italic;
                @include respond-to("xl") {
                  font-size: 14px;
                }
                @include respond-to("l") {
                  font-size: 13px;
                }
                @include respond-to("m") {
                  font-size: 15px;
                }
                @include respond-to("m") {
                  font-size: 13px;
                }
                @include respond-to("xs") {
                  color: whitesmoke;
                  font-size: 8px;
                }
              }
            }
          }

          .content {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
            .responsabilities {
              h4 {
                font-size: 20px;
                align-items: center;
                font-weight: normal;
                font-family: "Roboto", sans-serif;
                border-bottom: 1px solid rgba(crimson, 0.5);
                
                @include respond-to("xl") {
                  font-size: 14px;
                 
                }
                @include respond-to("l") {
                  font-size: 13px;
                  
                }
                @include respond-to("m") {
                  font-size: 12px;
                }
                @include respond-to("ms") {
                  font-size: 11px;
                }
                @include respond-to("xs") {
                  font-size: 9px;
                  line-height: 12px;
                }
              }
            }
            .details {
              ul {
                width: 70%;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                text-align: center;
                justify-content: space-between;

                @include respond-to("xs") {
                  width: 90%;
                  
                }

                li {
                  font-size: 19px;
                  font-weight: normal;
                  font-family: "Roboto", sans-serif;

                  @include respond-to("xl") {
                    font-size: 13px;
                  }
                  @include respond-to("l") {
                    font-size: 12px;
                  }
                  @include respond-to("m") {
                    font-size: 11px;
                  }
                  @include respond-to("ms") {
                    font-size: 11px;
                  }
                  @include respond-to("xs") {
                    font-size: 8px;
                    line-height: 12px;
                  }
                }
              }
            }
          }
          .bottom {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
            height: 20%;
            .tools {
              h4 {
                font-size: 10px;
                align-items: center;
                font-weight: normal;
                font-family: "Roboto", sans-serif;
                border-bottom: 1px solid rgba(crimson, 0.5);

                @include respond-to("xs") {
                  font-size: 9px;
                }
              }
              
            }

            .details {
              p {
                font-size: 18px;
                align-items: center;
                font-family: "Roboto", sans-serif;
                @include respond-to("xl") {
                  font-size: 13px;
                }
                @include respond-to("l") {
                  font-size: 12px;
                }
                @include respond-to("m") {
                  font-size: 10px;
                }
                @include respond-to("xs") {
                  font-size: 7px;
                }
              }
            }
          }
        }
      }
    }
  }

  .bottomContainer {
    position: absolute;
    bottom: 10px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include respond-to("xs") {
      display: none;
    }
   

    a {
      text-decoration: none;
      color: crimson;
      animation: arrowBlink 2s infinite;

      h3 {
        font-size: 15px;

        @include respond-to("xl") {
          font-size: 13px;
        }
        @include respond-to("xs") {
          font-size: 7px;
        }
      }

      .arrow {
        display: flex;
        justify-content: center;
        position: relative;
      }
    }
  }
}
