@import "../../global.scss";

.intro {
  background-image: url("../../background-images/code2.png");
  background-size: cover;
  background-position: center;
  color: white;
  background-color: black;
  background-repeat: no-repeat;
  border-bottom: 10px solid rgb(59, 59, 59);
  position: relative;
  

  .wrapper {
    width: 100vw;
    padding: 300px 0;
    text-align: center;

    @include respond-to("xl") {
      padding: 225px 0;
    }
    @include respond-to("l") {
      padding: 200px 0;
    }
    
    .description {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      h1 {
        font-size: 50px;
        @include respond-to("xl") {
          font-size: 39px;
        }
        @include respond-to("l") {
          font-size: 36px;
        }
        @include respond-to("m") {
          font-size: 33px;
        }
        @include respond-to("ms") {
          font-size: 30px;
        }
        @include respond-to("s") {
          font-size: 28px;
        }
        @include respond-to("xs") {
          font-size: 26px;
        }
      }

      h2 {
        font-size: 42px;
        @include respond-to("xl") {
          font-size: 37px; 
        }
        @include respond-to("l") {
          font-size: 36px;
        }
        @include respond-to("m") {
          font-size: 33px;
        }
        @include respond-to("ms") {
          font-size: 30px;
        }
        @include respond-to("s") {
          font-size: 28px;
        }
        @include respond-to("xs") {
          font-size: 26px;
        }
      }

      h3 {
        font-size: 35px;
        @include respond-to("xl") {
          font-size: 33px;
        }
        @include respond-to("l") {
          font-size: 30px;
        }
        @include respond-to("m") {
          font-size: 27px;
        }
        @include respond-to("ms") {
          font-size: 26px;
        }
        @include respond-to("s") {
          font-size: 25px;
        }
        @include respond-to("xs") {
          font-size: 24px;
        }

        span {
          color: yellow;
          font-size: 39px;
          @include respond-to("xl") {
            font-size: 35px;
          }
          @include respond-to("l") {
            font-size: 33px;
          }
          @include respond-to("m") {
            font-size: 31px;
          }
          @include respond-to("ms") {
            font-size: 30px;
          }
          @include respond-to("s") {
            font-size: 28px;
          }
          @include respond-to("xs") {
            font-size: 26px;
          }
        }

        .ityped-cursor {
          opacity: 1;
          -webkit-animation: blink 1s infinite;
          -moz-animation: blink 1s infinite;
          animation: blink 1s infinite;

          @include respond-to("xl") {
            font-size: 39px;
          }
          @include respond-to("l") {
            font-size: 36px;
          }
          @include respond-to("m") {
            font-size: 33px;
          }
          @include respond-to("ms") {
            font-size: 30px;
          }
          @include respond-to("s") {
            font-size: 28px;
          }
          @include respond-to("xs") {
            font-size: 26px;
          }
        }

        @keyframes blink {
          100% {
            opacity: 0;
          }
        }

        @-webkit-keyframes blink {
          100% {
            opacity: 0;
          }
        }

        @-moz-keyframes blink {
          100% {
            opacity: 0;
          }
        }
      }
    }

  }

  .bottomContainer {
    bottom: 10px;
    position: absolute;
    width: 100vw;
  
    a {
      text-decoration: none;
      color: grey;
      animation: arrowBlink 2s infinite;
      align-items: center;

      h3 {
        font-size: 22px;

        @include respond-to("xl") {
          font-size: 20px;
        }
        @include respond-to("l") {
          font-size: 19px;
        }
        @include respond-to("m") {
          font-size: 18px;
        }
        @include respond-to("ms") {
          font-size: 17px;
        }
        @include respond-to("s") {
          font-size: 16px;
        }
        @include respond-to("xs") {
          font-size: 15px;
        }
      }

      .arrow {
        display: flex;
        justify-content: center;
        position: relative;
      }
    }
  }
}
