@import "../../global.scss";

.intro {
  background-image: url("../../background-images/laptop-black.jpg");
  background-position: center;
  color: white;
  background-color: black;
  background-repeat: no-repeat;
  position: relative;
  border-bottom:4px solid white;

  .wrapper {
    width: 100vw;
    text-align: center;
    

    .description {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 30vh 10vw;

      @include respond-to("xl") {
        padding-top: 30vh;
      }
      
      @include respond-to("xs") {
        padding-top: 20vh;
      }
      
      h1 {
        text-transform: uppercase;
        letter-spacing: 8px;
        line-height: 130px;
        font-size: 50px;
        font-weight: 400;
      
        @include respond-to("xl") {
          font-size: 47px;
        }
        @include respond-to("l") {
          font-size: 45px;
        }
        @include respond-to("m") {
          font-size: 42px;
        }
        @include respond-to("ms") {
          font-size: 30px;
          line-height: 70px;
          letter-spacing: 5px;
        }
        @include respond-to("s") {
          font-size: 27px;
          line-height: 40px;
        }
        @include respond-to("xs") {
          font-size: 22px;
          line-height: 30px;
        }
      }

      h2 {
        font-size: 40px;
        letter-spacing: 6px;
        text-transform: uppercase;
        letter-spacing: 8px;
        font-weight: 400;
        line-height: 70px;

        @include respond-to("xl") {
          font-size: 34px; 
        }
        @include respond-to("l") {
          font-size: 31px;
        }
        @include respond-to("m") {
          font-size: 28px;
        }
        @include respond-to("ms") {
          font-size: 25px;
          line-height: 120px;
        }
        @include respond-to("s") {
          font-size: 19px;
        }
        @include respond-to("xs") {
          font-size: 17px;
          
        }
      }

      h3 {
        font-size: 35px;
        text-transform: uppercase;
        letter-spacing: 8px;
        font-weight: 400;
        line-height: 85px;

        @include respond-to("xl") {
          font-size: 33px;
        }
        @include respond-to("l") {
          font-size: 30px;
        }
        @include respond-to("m") {
          font-size: 27px;
        }
        @include respond-to("ms") {
          font-size: 25px;
          line-height: 120px;
        }
        @include respond-to("s") {
          font-size: 19px;
          line-height: 80px;
          margin:0px 0px 70px 0px;
        }
        @include respond-to("xs") {
          margin:30px 0px 0px 0px;
          font-size: 16px;
          line-height: 30px;
        }

        span {
          font-family:  'Playfair Display',serif;
          color: grey;
          letter-spacing: 9px;
          text-transform: none;
          font-style: italic;
          font-weight: 400;
          font-size: 37px;

          @include respond-to("xl") {
            font-size: 36px;
          }
          @include respond-to("l") {
            font-size: 35px;
          }
          @include respond-to("m") {
            font-size: 34px;
          }
          @include respond-to("ms") {
            font-size: 32px;
          }
          @include respond-to("s") {
            font-size: 24px;
          }
          @include respond-to("xs") {
            font-size: 18px;
            
          }
        }

        .ityped-cursor {
          opacity: 1;
          -webkit-animation: blink 1s infinite;
          -moz-animation: blink 1s infinite;
          animation: blink 1s infinite;
          font-size: 39px;

          @include respond-to("xl") {
            font-size: 39px;
          }
          @include respond-to("l") {
            font-size: 36px;
          }
          @include respond-to("m") {
            font-size: 33px;
          }
          @include respond-to("ms") {
            font-size: 30px;
          }
          @include respond-to("s") {
            font-size: 28px;
          }
          @include respond-to("xs") {
            font-size: 26px;
          }
        }

        @keyframes blink {
          100% {
            opacity: 0;
          }
        }

        @-webkit-keyframes blink {
          100% {
            opacity: 0;
          }
        }

        @-moz-keyframes blink {
          100% {
            opacity: 0;
          }
        }
      }
    }

  }

  .bottomContainer {
    bottom: 20px;
    left:0;
    right: 0;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  
    a {
      text-decoration: none;
      color: white;
      height: 80px;
      width: 80px;

      .arrow {
        background-color: black;
        border-radius: 50%;
        align-items: center;
      }
  }
 }
}