$mainColor: rgb(43, 40, 40);

$width: 768px;

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}



$breakpoints: (
  "xs": 480px,
  "s": 641px,
  "ms": 960px,
  "m": 1024px,
  "l": 1280px,
  "xl": 1600px,
) !default;


@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
